{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<header>
    {% include 'layout/navbar.html.twig' %}
</header>
    <h1>Bienvenue sur Wild Series</h1>
{% endblock %}
