{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <h1>Bienvenue sur Wild Series</h1>
{#    <a class="btn-danger" href="{{ path('show_category', { 'slug': slug }) }}" >allo</a>#}
{% endblock %}
