$theme-colors: (
        "primary": #008AD4,
        "danger": #DE0038,
        "secondary": #666666
);

@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(238, 240, 245);

    h1
    {
        color: #52528f;
    }
    h4
    {
        color: #52528f;
    }

    .mo_cat
    {
        justify-content: space-around;
    }

    .mo_card_show
    {
        align-items: center!important;

        .mo_img
        {
            width: 34rem;
        }

        .mo_hr_show
        {
            border: 1px solid;
        }
    }
}


.position
{
    text-align: right;
}
