$theme-colors: (
        "primary": #008AD4,
        "danger": #DE0038,
        "secondary": #66666
);

@import "~bootstrap/scss/bootstrap";

body {
    background-color: #ffffff;
    h1
    {
        color: #52528f;
    }
}
