<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
        {% include 'layout/navbar.html.twig' %}
    </header>
    {% block body %}{% endblock %}
    </body>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <!-- fontawesome -->
        <script src="https://kit.fontawesome.com/0f77bf6f9a.js" crossorigin="anonymous"></script>
    {% endblock %}
</html>
